[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
flask-sqlalchemy = "~=3.0.2"

[dev-packages]
pylint = "*"
pycodestyle = "*"
rope = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.4"
